<!DOCTYPE html>
<html>
<head>
	<title>add new book</title>
</head>
<body>
	<h1>you can add new book on this page</h1>

<form action="/add" method="POST">

	<p><input type="title" name="title" placeholder="title"></p>
	<p><input type="author" name="author" placeholder="author"></p>
	<p><input type="description" name="description" placeholder="description"></p>
	<input type="submit">

</form>

</body>
</html>